
  .App {
    text-align: center;
  }
  
  #fondo{
    background-image: url('../../img/fondo.jpg') !important;
    background-size: auto;
    background-repeat: repeat;
    z-index: -10;
    
  }

  .inner {max-width: 1200px; margin: 0 auto; margin-top:40px; }
  
  a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

#logo {
  width: 10%;
  margin-right: 8em;
  text-align: center;
  transition: 0.3s;
}

#contapis {

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5em;

}

  .MuiCardMedia-img {
    object-fit: cover;
    max-width: 100% !important;
    max-height: 30vh !important;
    margin: 0 auto;
}

.MuiToolbar-root p {
  padding: 0px 20px 0px 6px;
  align-items: center;
  align-content: center;
  /* margin-top: 17px; */
  font-size: 13px;
}
.makeStyles-root-17 {
  max-width: 1200px;
  max-height: 54vh!important;
}

.MuiCardContent-root {
  padding: 16px;
  /* max-width: 100%; */
  overflow: hidden;
  max-height: 125px!important;
}

.MuiCardMedia-img {
  object-fit: cover;
  height: 20vh!important;
}

.MuiMenuItem-root {
  width: auto;
  overflow: hidden;
  font-size: 2rem!important;
  box-sizing: border-box;
  min-height: 48px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 2.5!important;
  padding-top: 6px;
  white-space: nowrap;
  letter-spacing: 0.00938em;
  padding-bottom: 6px;
  padding: 10px !important;
  width: 100%;
}


.MuiListItem-button:hover {
  text-decoration: none;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: none;
  border-radius: 0em !important;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-left: 20px !important;
}


.MuiList-padding {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  
  /* font-size: 20px; */
  /* width: 120%; */
}

.MuiPaper-elevation8 {
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0), 0px 0px 0px 0px rgba(0,0,0,0), 0px 0px 0px 0px rgba(0,0,0,0) !important; 
}


.MuiPopover-paper {
  outline: 0;
  position: absolute;
  max-width: calc(100% - 32px);
  min-width: 16px;
  max-height: calc(100% - 32px);
  min-height: 16px;
  overflow-x: hidden;
  width: 14% !important;
  overflow-y: auto;
  padding: 20px !important;
  height: 52vh;
}


.MuiPaper-root {
    max-width: auto;
    background: #161638 !important;
   
}
.inner {
  max-width: 1110px!important;
  margin: 0 auto;
  margin-top: 12px !important;
}
.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #141b46!important;
  /* position: fixed; */
  margin: 0 auto;
  text-align: center;
  position: fixed !important;
}

@media (min-width: 600px){
.MuiToolbar-gutters {
    padding-left: 40px!important;
    padding-right: 40px!important;
}
}

.MuiGrid-spacing-xs-3 > .MuiGrid-item {
  padding: 12px;
  margin-top: 5em!important;
}
.MuiTypography-h5 {
  font-size: 2em!important;
  font-family: 'Kumbh Sans', sans-serif!important;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0em;
}

.MuiPopover-paper {
  outline: 0;
  position: absolute;
  max-width: calc(100% - 32px);
  min-width: 16px;
  max-height: calc(100% - 32px);
  min-height: 16px;
  overflow-x: hidden;
  overflow-y: auto;
  top: 63px!important;
  background: #141b46!important;
  left: -1px!important;
  transition: 0.3s!important;
  z-index: 99!important;
  outline: 0;
    position: absolute;
    max-width: calc(100% - 32px);
    min-width: 16px;
    max-height: calc(100% - 32px);
    min-height: 16px;
    overflow-x: hidden;
    overflow-y: auto;
    top: 63px!important;
    background: #141b46!important;
    left: -1px!important;
    transition: 0.3s!important;
    z-index: 99!important;
}

.MuiTypography-body2 {
  font-size: 1.11em!important;
  font-family: 'Barlow', sans-serif !important;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  transition: 0.3s!important;
}

.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  color: #00BCD4!important;transition: 0.3s!important;
}

.MuiCardMedia-media {
  width: 100%!important;
  margin: 0 auto!important;
  padding: 0px!important;
  transition: 0.3s!important;
}

.MuiListItem-gutters {
   padding-left: 0px!important;
  padding-right: 16px;
  transition: 0.3s!important;
}

#footer{
  text-align: center;
  padding: 10px;
  background-color: rgba(1, 1, 128, 0.794);
  color: white;
  width: 100%;
  margin: 5em 0px 0px 0px;
  
}

#facu{text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-style: oblique;
}

.MuiButton-textSizeSmall {
  padding: 17px 10px 10px 11px !important;
  font-size: 0.8125rem;
  margin: 0 auto !important;
}



.MuiButton-root {
  color: #fff;
   
  font-size: 0.875rem;
   min-width: 64px !important;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
   line-height: 1.75 !important;
  border-radius: 3em !important;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}



.MuiCardActions-root {
  display: flex;
  align-items: center;
  
  padding: 0px !important;
  -webkit-box-shadow: 0px -3px 10px -5px rgba(0,0,0,0.37);
-moz-box-shadow: 0px -3px 10px -5px rgba(0,0,0,0.37);
box-shadow: 0px -3px 10px -5px rgba(0,0,0,0.37);
}

.MuiButtonBase-root {
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}


